@import "/src/styles/global.scss";

.background {
  display: none;
  border: 3px solid black;
  @include lg {
    display: inline-block;
    width: 100%;
    background-image: url('/public/unsplash-stack-of-books.avif');
  }
}

.login {
  padding-top: 10vh;

  @include md {
    padding-top: 15vh;
  }

  @include lg {
    width: 40%;
    // margin-left: auto;
  }
}

@keyframes spin {
  from { transform:rotate(0deg) }
  to { transform:rotate(360deg) }
}
