@import "/src/styles/global.scss";

.login {
  height: calc(100vh - 56px);

  &__content {
    padding-top: 60px;

    @include lg {
      padding-top: 0;
      width: 60%;
      margin-left: auto;
    }
  }
}