@import '/src/styles/global.scss';

.register {
  margin: 10vh auto;
  
  &__logo {
    animation: spin 10s linear infinite;
    width: 100px;
  }
  
  @include md {
    // background-image: url('/src/assets/bookstack-background.jpg');
    background-size: cover;
    background-position: center;
  }
}

@keyframes spin {
  from { transform:rotate(0deg) }
  to { transform:rotate(360deg) }
}
