.login-register {
  margin: 10vh auto;
}

.login-register__logo {
  animation: spin 10s linear infinite;
  width: 100px;
}

@keyframes spin {
  from { transform:rotate(0deg) }
  to { transform:rotate(360deg) }
}
