@import './breakpoints.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, serif;
}

// For spinng book image on Login/Register pages
.spinning-book {
  animation: spin 10s linear infinite;
  width: 70px;
  margin-bottom: 16px;
}

@keyframes spin {
  from {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(360deg)
  }
}

.background {
  display: none;
  width: 40%;

  @include lg {
    display: block;
    background-image: url('../assets/unsplash-stack-of-books.avif');
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.login-register-heading {
  font-size: 40px;

  @include lg {
    font-size: 32px;
  }
}